@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(image/bgreg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: rgb(0, 201, 134); */
    /* background-image: linear-gradient(to left, #8de9d5, #32c4c0); */
}
.container h2{
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}
.logo-container {
    text-align: center;
    position: relative;
    left: -10px;
}

.logo-container img {
    width: 400px;
    height: auto;
}

.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col{
    background: #00fff230;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    border: 1px solid #ffffff2f;

}

.price-col p{
    font-size: 22px;
    font-weight: 600;
}

.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col ul li::before{
    content: '\2022';
    color: #e3c530;
    font-weight: bold;
    margin-right: 8px;
}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e3c530;
    border-radius: 12px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover{
    background: #e3c530;
}
/* a{
    color: #fff;
    text-decoration: none;
} */

.highlight{
    color: #e3c530;
    font-weight: 500;
}